html, body {
    height: 100%;
}
body {
    background: linear-gradient(-90deg, #e73c7e, #f3576c,#ee7752, #ee7752, #f3576c, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.name{
    font-size: 7vw;
    top: 20%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 900;
}

.under{
    font-size: 1vw;
    font-weight: 900;
}
.first{
    top: 35%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
}
.second{
    top: 40%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
}
#show-more{
    top: 80%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    text-transform: uppercase;
}
#kontent{
    padding: 10px;
    border-radius: 15px;
    place-content: center;
    width: 800px;
    top: 450px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(-90deg, #fbe6d3,white, #fbe6d3,  white, #fbe6d3,white);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border: 1px solid #3e2e6a;
    color: #3e2e6a;
    font-family: Arial;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
    -webkit-transition:  height 0.7s;
    -moz-transition: height 0.7s ;
    transition: height 0.7s;
}
#kontent.open{
    height: 200px;

    -webkit-transition:  height 0.7s;
    -moz-transition: height 0.7s ;
    transition: height 0.7s;
}

.contact{
    font-size: 30px;
    font-weight: 900;
    top: 90%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fbe6d3;
}
.contact:hover{
    font-size: 32px;
    font-weight: 900;
    top: 90%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
}
.contact:active {
    color: plum;
}
.link{
    color: #fbe6d3;
}
.link:hover{
    font-size: 28px;
}
.link:active{
    color: plum;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.wrapper h1 {
    color: #fbe6d3;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #3e2e6a, 1px -1px 0 #3e2e6a, -1px 1px 0 #3e2e6a, 1px 1px 0 #3e2e6a;
}
.wrapper h1:after {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
    color: #f3576c;
    transform: translate(0.4vw, 0.3vh);
    mix-blend-mode: darken;
    text-align: center;
    width: 100%;
    text-shadow: 1px 0px 0px #3e2e6a, 0px 1px 0px #130b52, 2px 1px 0px #3e2e6a, 1px 2px 0px #130b52, 3px 2px 0px #3e2e6a, 2px 3px 0px #130b52, 4px 3px 0px #3e2e6a, 3px 4px 0px #130b52, 5px 4px 0px #3e2e6a, 4px 5px 0px #130b52, 6px 5px 0px #3e2e6a, 5px 6px 0px #130b52, 7px 6px 0px #3e2e6a;
}


